.row {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    a {
        text-decoration: none;
    }

    p {
        font-size: 12px;
    }

    span {
        margin-bottom: 0.5rem;

        &:first-of-type {
            color: #555555;
            font-weight: 500;
        }
    }
}

.rowsocial {
    display: flex;
    justify-content: center;

    img {
        width: 75%;
        height: 100%;
        --bs-gutter-x: 1.5rem;
    }
}