.card {
    width: 102.5%;
    align-items: center;
    border-top: solid 1px #dfdfdf;
    padding: 3.5rem 0;
}

.cardtitle {
    font-size: 30px;
    color: #00012b;
    line-height: 36px;
    margin-bottom: 0.25rem;
}

.cardSubtitle {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0.25rem;
    color: #00012b;
}

.cardBody {
    font-size: 16px;
    line-height: 24px;
    color: #5d5d5d;

}

.cardImage {
    width: 300px;
    height: 200px;
}